.dialogs{
    background-color: rgb(149, 58, 58);
    margin-top: 54px;
    margin-left: 5px;
    width: 85%;
    height: 90vh;
    color:white;
    padding: 40px;
}
.content{
    display: flex;
    justify-content: space-around;
}
.users a{
    text-decoration: none;
    color:white;
  }