.item{
 
  background-color:  rgba(141, 124, 111, 0.7);
  width: 200px;
  padding: 20px 0px 30px 20px;

}
.item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.userName span{
  margin-left: 10px;
  color:black;
  font-weight: bold;
  
}